.puzzle-container {
  position: relative;

  .puzzle-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: staticUrl('img/monks.jpg');
    background-size: cover;
    opacity: 0.4;
    z-index: 1;
  }

  .puzzle-piece {
    background-image: staticUrl('img/monks.jpg');
    z-index: 2;
    position: absolute;
    transition: left 300ms, top 300ms;

    .puzzle-number {
      background-color: #ececec;
      color: #040404;
      margin-left: 5px;
    }
  }

}
